<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.zyx_hunan.wanmvvm"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".WanApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_icon"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:usesCleartextTraffic="true"
        android:theme="@style/Theme.WanMvvm">
        <activity android:name=".ui.view.acy.WelcomeWanAndroidAcy">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.view.acy.MainActivity"/>
        <activity android:name=".ui.view.acy.RegisterAcy"/>
        <activity android:name=".ui.view.acy.LoginAcy"/>
        <activity android:name=".ui.view.acy.ArticleItemAcy"/>
        <activity android:name=".ui.view.acy.SettingAcy"/>
        <activity android:name=".ui.view.acy.VideoListActivity"/>
        <activity android:name=".ui.view.acy.VideoPagerActivity"/>
        <activity android:name=".ui.view.acy.AddFriendAcy"/>
        <activity android:name=".ui.view.acy.FriendDetailAcy"/>
        <activity android:name=".ui.view.acy.ImChatAcy"
            android:windowSoftInputMode= "adjustPan" />
        <activity android:name=".ui.view.acy.SearchAcy"/>
        <activity android:name=".ui.view.acy.CollectShareAcy"/>
        <service android:name="cn.jpush.android.service.PushService"
            android:process=":multiprocess"
            tools:node="replace" />

        <service android:name=".ui.service.ImService"
            android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jiguang.user.service.action" />
            </intent-filter>
        </service>
    </application>

</manifest>